<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Individual</title>
<link rel="stylesheet" href="../css/stylesheet.css" />
<link rel="jSscript" href="../javaScript/settings.js">
</head>
<body background="Scan_20170719(19).jpg">

<h1 class="h1">Welcome to the home of the Banvard branch.</h1>

<h2 class="noodles">This is where you can add a family member.</h2>

<p class="textTraights">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
labore et dolore magna aliqua. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam 
purus. 
</p>

<form action="">
	<table align="center" width="50%">
		<tr>
			<td>First Name</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>User Name</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" /></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>Male<input type="radio" name="gender" value="male"/> 
				Female<input type="radio" name="gender" value="female"/></td>
		</tr>
		<tr>
			<td>Course</td>
			<td>Core Java<input type="checkbox" name="lang" value="java"/> 
				JSP<input type="checkbox" name="lang" value="jsp"/>
				JDBC<input type="checkbox" name="lang" value="JDBC"/>
				Spring<input type="checkbox" name="lang" value="Spring"/>
				Hibernate<input type="checkbox" name="lang" value="Hibernate"/></td>
		</tr>
		<tr>
			<td>Training Type</td>
			<td><select name="empType">
			<option value="emp">Employee</option>
			<option value="notEmp">Not Employee</option>
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td align="left"><input type="submit"></td>
		</tr>
	</table>
	</form>

<span style="float:left"><a href="home.html">Home</a></span>
<span style="float:right"><a href="addHousehold.html">Add Household</a></span>

</body>

<script>

		function 

</script>
</html>