<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servletExample</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>servletExample.AddServlet</servlet-class>

		<init-param>
			<param-name>num4</param-name>
			<param-value>5</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SquareServlet</servlet-name>
		<servlet-class>servletExample.SquareServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SquareServlet</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>num3</param-name>
		<param-value>4</param-value>
	</context-param>


</web-app>